certifi
charset-normalizer
contourpy
cycler
DateTime
distlib
filelock
fonttools
idna
kiwisolver
matplotlib
messagebox
mysql-connector-python
numpy
packaging
pandas
Pillow
platformdirs
protobuf
pyparsing
python-dateutil
pytz
requests
seaborn
six
urllib3
virtualenv
zope.interface
